<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<body>
<form class="form-signin" method="post" action="/logout">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}" />
    <input name="_csrf" type="hidden" value="43c74589-63c5-4b2d-a6b2-2946d3c34fb6">
    <button id="btnLogout" class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
</form>
<script>
    document.getElementById("btnLogout").click();
</script>
</body>
<html>


