<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.application.dao.CardMapper">
    <resultMap id="cardMap" type="com.demo.domain.models.Card">
        <id property="id" column="id"></id>
        <association property="user"
                     javaType="com.demo.domain.models.User">
            <result column="user_id" property="id"/>
            <result column="userName" property="name"></result>
            <result column="userGender" property="gender"></result>
        </association>
    </resultMap>
    <select id="findCardsByUserId" resultMap="cardMap">
    select c.*, u.name userName, u.gender userGender from Cards  c
    left join users u on u.id = c.user_id
    where c.user_Id = #{userId}
  </select>
</mapper>