<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.application.dao.UserMapper">
    <resultMap id="userMap" type="com.demo.domain.models.User">
        <id property="id" column="id"></id>
        <result column="name" property="name"></result>
        <result column="gender" property="gender"></result>
        <result column="version" property="version" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"></result>
        <association property="userProfile"
                     javaType="com.demo.domain.models.UserProfile">
            <result column="user_Profile_hobby" property="hobby" />
            <association property="address"
                         javaType="com.demo.domain.models.Address">
                <result column="user_Profile_address_country" property="country" />
                <result column="user_Profile_address_city" property="city" />
                <result column="user_Profile_address_street" property="street" />
            </association>
        </association>
        <collection property="cards" column="id" fetchType="lazy"
                    select="com.demo.application.dao.CardMapper.findCardsByUserId"></collection>
    </resultMap>
    <resultMap id="userMap2" type="com.demo.domain.models.User">
        <id property="id" column="id"></id>
    </resultMap>
    <select id="selectUser" resultMap="userMap">
        select * from Users where id = #{id}
    </select>
    <sql id="orderBy">
        <foreach collection="orderBys" item="orderBy" separator=",">
            ${prefix}${orderBy}
        </foreach>
    </sql>
    <!-- 基础用户查询 -->
    <sql id="selectUsersBase">
        select id from Users
         <where>
             <if test="params.name != null and params.name !=''">
                 name like concat('%', #{params.name}, '%')
             </if>
         </where>
    </sql>
    <select id="selectUsersTotalCount">
        select count(1) from (<include refid="selectUsersBase"></include>) as total
    </select>
    <select id="selectUsers" resultMap="userMap">
        select u.* from Users u
        join (<include refid="selectUsersBase"></include>
        order by <include refid="orderBy"><property name="prefix" value=""/></include>
        limit #{pageNo}, #{pageSize}) as ids
        on u.id = ids.id
        order by <include refid="orderBy"><property name="prefix" value="u."/></include>
    </select>
    <insert id="insertUser" parameterType="com.demo.domain.models.User">
        insert into Users (id, name, Gender, user_Profile_address_country, user_Profile_address_city, user_Profile_address_street, user_Profile_hobby)
        values( #{id}, #{name}, #{gender}, #{userProfile.address.country}, #{userProfile.address.city}, #{userProfile.address.street}, #{userProfile.hobby})
    </insert>
    <insert id="insertCards">
        INSERT INTO cards (id, name, userId)
        VALUES
        <foreach collection="cards" item="card" open="(" separator="),(" close=")">
            #{card.id},#{card.name}, #{user.Id}
        </foreach>
    </insert>
    <update id="updateUser" parameterType="com.demo.domain.models.User">
        update Users set name = #{name},
            gender = #{gender},
            user_Profile_hobby = #{userProfile.hobby},
            user_Profile_address_country = #{userProfile.address.country},
            user_Profile_address_city = #{userProfile.address.city},
            user_Profile_address_street = #{userProfile.address.street}
        where id = #{id} and version = #{version}
    </update>
</mapper>